<div class="flex-container">
  <div style="flex-grow: 2; text-align: center;">Copyright Creative Workers</div>
  <div style="flex-grow: 6; text-align: center;">
    <a class="google-link" target="_blank" href="https://www.google.com">Privacy</a>
    <a class="google-link" target="_blank" href="https://www.google.com">Terms</a>
    <a class="google-link" target="_blank" href="https://www.google.com">Cookies</a>
    <a class="google-link" target="_blank" href="https://www.google.com">More</a>
  </div>
  <div style="flex-grow: 2;text-align: center;">KissMyButton 2017 </div>
</div>
